.wrap {
  width: 276px;
  height: 276px;
  display: flex;
  flex-direction: column;
}

.noImg {
  background-color: #262626;
}
.withImg {
  background: url("/public/cardImage.png");
}

.title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.redHeartButton {
  color: "#FF0000";
}
