/* @media (prefers-color-scheme: light) {
  .menutrigger span {
    background-color: #585858;
  }
  .menutrigger.active7 span {
    background-color: #585858;
  }
}

@media (prefers-color-scheme: dark) {
  .menutrigger span {
    background-color: #fff;
    color: #fff;
  }
  .menutrigger.active7 span {
    background-color: #fff;
    color: #fff;
  }
} */

.menutrigger,
.menutrigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menutrigger {
  position: relative;
  width: 30px;
  height: 21px;
}

.menutrigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
}

.menutrigger span:nth-of-type(1) {
  top: 0;
}

.menutrigger span:nth-of-type(2) {
  top: 9px;
}

.menutrigger span:nth-of-type(3) {
  bottom: 0;
}

.menutrigger span:nth-of-type(4) {
  display: none;
}

.menutrigger.type7 span:nth-of-type(1) {
  -webkit-animation: menu-bar07-01 0.75s forwards;
  animation: menu-bar07-01 0.75s forwards;
}
@-webkit-keyframes menu-bar07-01 {
  0% {
    -webkit-transform: translateY(9px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar07-01 {
  0% {
    transform: translateY(9px) rotate(45deg);
  }
  50% {
    transform: translateY(9px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menutrigger.type7 span:nth-of-type(2) {
  transition: all 0.25s 0.25s;
  opacity: 1;
}
.menutrigger.type7 span:nth-of-type(3) {
  -webkit-animation: menu-bar07-02 0.75s forwards;
  animation: menu-bar07-02 0.75s forwards;
}
@-webkit-keyframes menu-bar07-02 {
  0% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar07-02 {
  0% {
    transform: translateY(-9px) rotate(-45deg);
  }
  50% {
    transform: translateY(-9px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.menutrigger.active7 span:nth-of-type(1) {
  -webkit-animation: active-menu-bar07-01 0.75s forwards;
  animation: active-menu-bar07-01 0.75s forwards;
}
@-webkit-keyframes active-menu-bar07-01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
  }
}
@keyframes active-menu-bar07-01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(9px) rotate(0);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}
.menutrigger.active7 span:nth-of-type(2) {
  opacity: 0;
}
.menutrigger.active7 span:nth-of-type(3) {
  -webkit-animation: active-menu-bar07-02 0.75s forwards;
  animation: active-menu-bar07-02 0.75s forwards;
}
@-webkit-keyframes active-menu-bar07-02 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
  }
}
@keyframes active-menu-bar07-02 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-9px) rotate(0);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}
